<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpDNPsFHvF8pIVvWqKAJ6pO2PJJRHkVag</string>
	<key>GCM_SENDER_ID</key>
	<string>789884958577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.game.jifa-ios</string>
	<key>PROJECT_ID</key>
	<string>jigsortfamily-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>jigsortfamily-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789884958577:ios:8e7370ca98e598cb1928d0</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-2705495278524390~7888121897</string>
</dict>
</plist>